.about {
  position: relative;
  display: flex;
  min-height: 100vh;
  align-items: center;

  @include vp-1199 {
    flex-direction: column;
    padding: 5rem 0;
    justify-content: center;
    min-height: auto;
  }

  &__img {
    width: 25rem;
    height: 15rem;
    border-radius: 3rem;
    overflow: hidden;
    align-self: center;
    flex-shrink: 0;
    background-color: grey;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include vp-1199 {
      display: none;
    }
  }

  &__info {
    margin-left: 5rem;

    @include vp-1199 {
      margin: 0 0 2rem;
    }
  }

  &__link {
    position: absolute;
    bottom: 2rem;
    right: 0;
    text-decoration: none;
    color: inherit;
  }
}
