.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;

  @include vp-1199 {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-end;
  }

  @include vp-767 {
    flex-direction: column-reverse;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    @include vp-1199 {
      flex-direction: column;
    }
  }

  &__link {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-right: 1.2rem;
    }

    svg {
      margin-right: 10px;
    }

    span {
      display: inline-block;
      transform: scaleX(0);
      transition: transform $trans-default;

      @include vp-1199 {
        transform: scaleX(1);
      }
    }

    &:hover {
      span {
        transform: scaleX(1);
      }
    }
  }

  p {
    margin: 0 0 0 1rem;

    @include vp-1199 {
      margin: 0 5rem 0 0;
    }

    @include vp-767 {
      margin-bottom: 2rem;
    }
  }
}
