.header {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  margin: 15px 20px;

  @include vp-767 {
    flex-direction: column;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  li:not(:last-child) {
    margin-right: 50px;
  }

  a {
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.5;
    }
  }


}


