.header {
  display: flex;
  justify-content: flex-end;
  margin: 15px 20px;

  @include vp-767 {
    flex-direction: column;
  }
}

.header a {
  margin-right: 50px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover {
    opacity: 0.5;
  }
}

.header__email {
  padding-left: 30px;
  background-image: url("../img/icon-email-header.svg");
}

.header__phone {
  padding-left: 25px;
  background-image: url("../img/icon-phone-header.svg");
}
