.projects {
  margin: 10rem 0;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: center;

    .img-block {
      margin-right: 2rem;
    }

    .img-block::after,
    .img-block::before {
      border-radius: 1rem;
      // transform: rotate(-90deg) translateY(10rem);
      // transform-origin: bottom left;
    }

    &:nth-child(2n+2) {
      flex-direction: row-reverse;

      .img-block {
        margin-right: 0;
        margin-left: 2rem;
      }
    }

    &:not(:last-child) {
      margin-bottom: 7rem;
    }

    @include vp-767 {
      flex-direction: column;
      align-items: flex-start;

      .img-block {
        margin-right: 0;
      }

      &:nth-child(2n+2) {
        flex-direction: column;

        .img-block {
          margin-left: 0;
        }
      }
    }
  }

  &__img {
    border-radius: 1rem;
    flex: 1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__info {
    flex: 1;
    margin: 0 2rem;

    @include vp-1199 {
      flex: 2;
    }

    @include vp-767 {
      margin: 0;
    }
  }

  .button:not(:last-child) {
    margin-right: 1rem;

    @include vp-767 {
      margin-right: 0.5rem;
    }
  }
}
