.promo {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-1199 {
    flex-direction: column;
    padding: 3rem 0;
  }

  @include vp-767 {
    justify-content: flex-end;
    padding: 2rem 0;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left bottom;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__info {
    margin-left: 40%;

    @include vp-767 {
      margin: auto auto 0 0;
    }
  }

  h1 {
    font-size: 3rem;

    @include vp-1199 {
      font-size: 2rem;
    }

    @include vp-767 {
      font-size: 1.5rem;
    }
  }

  p {
    font-size: 1.5rem;

    @include vp-767 {
      font-size: 0.7rem;
    }
  }

  &__img {
    position: relative;
    width: 17rem;
    height: 25rem;
    border-radius: 3rem;
    overflow: hidden;
    align-self: center;
    border: 3px solid rgba($color-default-white, 0.7);

    @include vp-1199 {
      width: 15rem;
      height: 20rem;
    }

    @include vp-767 {
      width: 100%;
      height: 10rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__link {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    text-decoration: none;
    color: inherit;

    &:hover {
      opacity: 0.8;
    }
  }
}
