// Colors
// ---------------------------------
$color-gray:                      rgba(197, 179, 179, 0.3);

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-merriweather:                         "Merriweather", "Times New Roman", serif;

//Transition
//----------------------------------
$trans-default: 0.3s ease;


// Viewports
// ---------------------------------

$vp-768:                            768px;
$vp-1200:                           1200px;

// Retina
// ---------------------------------

$retina-dpi:                        199dpi;
$retina-dppx:                       2dppx;
